[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.2.2"
matplotlib = "==3.9.0"
optuna = "==3.6.1"
catboost = "==1.2.5"
scikit-learn = "==1.5.0"
seaborn = "==0.13.2"
openpyxl = "==3.1.4"
xgboost = "==2.0.3"
nbformat = "==5.10.4"
numpy = "==1.26.4"
shap = "==0.45.1"
jupyter = "==1.0.0"
ipywidgets = "==8.1.3"
eli5 = "==0.13.0"
joblib = "==1.4.2"
lightgbm = "==4.4.0"
scipy = "==1.14.0"
ipykernel = "*"
statsmodels = "*"
pyroc = "*"
scikit-posthocs = "*"

[dev-packages]
ipykernel = "==6.29.4"
